/* NAVABR STARTS */

/* NAVABR ENDS */
/* LOGIN STARTS */
h1{
    color:white;
}

/* .form_login{
    background-image:url("/utility/images/films.jpg");
}  */

.btn{
   background-color: rgb(255, 0, 0);
   /* opacity: 2.0; */
}

.bg-home{
    background-image:url("/utility/images/bobine.jpg");
    background-repeat: no-repeat;
    
}

.bg-form2{
    background-image: url("/utility/images/bg-films.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
 }

.question{
    font-size: 15px;
}
.inscription{
    font-size: 15px;
}
/* LOGIN ENDS */

.form{
   
     padding-top: 55px;
     padding-bottom: 55px;
     padding-right: 10%;
     padding-left: 10%;
     position: center;
 
    }
/* .img{
    display: block;
    margin-left: auto;
    margin-right: auto 
} */

 .row{
     background-color: rgb(41, 39, 39);
     width: 100% !important;
     opacity: 0.9;
 }
 
 .bg-form{
    background-image: url("/utility/images/projecteur.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 }

.btn{
    
    background-color: rgb(255, 0, 0);
    
}

/* SIGNUP ENDS */


body {
    background-color: black;
}

#top_rated, #popular, #upcoming {
    display: flex;
    padding: 10px 10px;
    
}

h4 {
    color: white;
}


.posters::-webkit-scrollbar {  
    display: none; 
}
.posters {
    object-fit: contain;
    width: 100%;
    max-height: 300px;
    margin-right: 10px;
    transition: transform 450ms;
     
}
.posters:hover {
    transform: scale(1.08);
}



.searchFilm {
    height: 200px;
    width: 150px;
    padding: 10px 10px;
}

.banners {
    color: white;
    max-height: 600px; 
    position: relative;
    width: 100%;
}


.descriptions {
    margin-left: 30px;
    padding-top: 140px;
    height: 190px; 
    position: relative;
    z-index: 100;
    color: white;
    bottom: 100px;
    max-width: 600px;
    text-align: justify;
}